EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_WORKOUTS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_EQUIPMENT_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_EXERCISES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_PLANS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_PLATFORM=com.gymrat.app
